In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('./Columbia_River_Basin_02_10_21_snow.csv')

In [ ]:
# --------------------------- WARNING ------------------------------
# The data you have obtained are provisional and subject to revision.
#
# Contact your state water supply staff for assistance
# http://www.wcc.nrcs.usda.gov/partnerships/links_wsfs.html
#
# United States Department of Agriculture
# Natural Resources Conservation Service
# National Water and Climate Center
# Portland Oregon
#
# S N O W  P R E C I P I T A T I O N   U P D A T E
#
# This report is based on mountain data from USDA-NRCS SNOTEL Sites
# Data are based on the first reading of the day (typically 00:00)
# Wednesday: February 10 2021
# 
# Medians and averages are calculated for the period 1981-2010.
#
# retrieved: Wednesday: February 10 2021 PDT
#
# This file contains the Columbia River Basin SNOTEL Snow and Precipitation Update Report
#
# This file contains a list of stations and basin summaries of hydrologic conditions.
# The fields are comma delimited and the first line after this header describes the contents of each column:
#
#    column                             column definition
#    -------------------------          -------------------------------------
#  1 Lat                                decimal latitude
#  2 Long                               decimal longitude w/negative sign
#  3 YYYYMMDD                           date of observation
#  4 Basin_name                         state sub-basin name
#  5 Station_id                         Snotel system identification code
#  6 Acton_id                           Snow Survey Program ACTON code
#  7 Station_name                       station name
#  8 Elevation                          elevation (feet)
#  9 Wteq_amt                           current snow water equivalent (inches)
# 10 Wteq_med                           snow water equivalent Median (inches)
# 11 Wteq_amt_pct_med                   current snow water equivalent as percent of Median
# 12 Wteq_amt_pct_med_flag              snow water equivalent validity code
# 13 Prec_wytd_amt                      water year to date precipitation (inches)
# 14 Prec_wytd_avg                      water year to date precipitation Average (inches)
# 15 Prec_wytd_pctavg                   water year to date precipitation as percent of Average
# 16 Prec_wytd_pct_avg_flag             water year to date precipitation validty code
#
# Data-value qualification codes included in this output:
#  -997 Data may not provide a valid measure of conditions
#         If the current swe data value is > 0 and the Median is 0 then the percent of Median flag = -997
#         If either the current data value or the Median is missing then the percent of Median cell will be blank and the percent of Median flag will be -997
#         If the current swe value is < 10% of the Median peak swe then the percent of Median flag = -997
#         If over 1/2 of the stations for a basin report missing or invalid data then the percent of Median flag = -997
#  -998 No Normal available
#  -999 Missing data
#         If the current data value is missing then the current data value = -999
#         If the current precipitation is negative then the current precipitation value = -999
#         If the current swe is < -1 then the current swe value = -999
#         If over 1/2 of the stations for a basin are missing then the percent of Average cell is blank
#
# If the Basin Index (%) for comparison value is flagged as potentially invalid
# care should be taken to evaluate if the value is representative of conditions in the basin.
#
# The SNOW WATER EQUIVALENT percent of Median represents the snow water
# equivalent found at selected SNOTEL sites in or near the basin compared
# to the Median value for those sites on this day.,,,,,,,,,,,,,,,,
#,,,,,,,,,,,,,,,,
# The TOTAL PRECIPITATION percent of Average represents the total,,,,,,,,,,,,,,,,
# precipitation (beginning October 1st) found at selected SNOTEL sites in,,,,,,,,,,,,,,,,
# or near the basin compared to the Average value for those sites on this day.,,,,,,,,,,,,,,,,
# Site -- Either: (a) the current value is missing; 
#(b) the median or average for the day is not available or is zero; or 
#(c) for snow water equivalent the median for the day is less than 10% of the maximum median value for  the year.
# Basin - More than half of the sites within the basin are flagged with * preventing the 
#calculation of a meaningful basin index.
The basin index is calculated as the sum of the valid current values 
divided by the sum of the corresponding medians (for snow water equivalent)
or averages (for precipitation) and the resulting fraction multiplied by 100.
##########################################################################,,,,,,,,,,,,,

In [7]:
df.head()

,Lat,Long,YYYYMMDD,Basin_name,Station_id,Acton_id,Station_name,Elevation,Wteq_amt,Wteq_med,Wteq_amt_pct_med,Wteq_amt_pct_med_flag,Prec_wytd_amt,Prec_wytd_avg,Prec_wytd_pctavg,Prec_wytd_pct_avg_flag,
0,48.566667,-115.450000,20210210.0,KOOTENAI RIVER IN MONTANA,311,15A08S,Banfield Mountain,5600,11.4,12.2,93.0,NaN,18.7,17.8,105.0,NaN,NaN
1,48.300000,-116.066667,20210210.0,KOOTENAI RIVER IN MONTANA,323,16A08S,Bear Mountain,5400,33.4,38.6,87.0,NaN,40.5,49.5,82.0,NaN,NaN
2,48.983333,-115.816667,20210210.0,KOOTENAI RIVER IN MONTANA,918,15A05S,Garver Creek,4250,7.5,6.9,109.0,NaN,15.0,12.9,116.0,NaN,NaN
3,48.916667,-114.766667,20210210.0,KOOTENAI RIVER IN MONTANA,500,14A11S,Grave Creek,4300,9.7,11.4,85.0,NaN,22.9,22.8,100.0,NaN,NaN
4,48.300000,-114.833333,20210210.0,KOOTENAI RIVER IN MONTANA,510,14A14S,Hand Creek,5035,7.0,7.8,90.0,NaN,12.3,11.7,105.0,NaN,NaN

In [10]:
df.isna().sum()

Lat                        24
Long                       24
YYYYMMDD                   24
Basin_name                 24
Station_id                  0
Acton_id                   24
Station_name               24
Elevation                   0
Wteq_amt                   24
Wteq_med                   24
Wteq_amt_pct_med           25
Wteq_amt_pct_med_flag     278
Prec_wytd_amt              24
Prec_wytd_avg              24
Prec_wytd_pctavg           17
Prec_wytd_pct_avg_flag    286
                          280
dtype: int64

In [12]:
df[df['Lat'].isna() == True]

,Lat,Long,YYYYMMDD,Basin_name,Station_id,Acton_id,Station_name,Elevation,Wteq_amt,Wteq_med,Wteq_amt_pct_med,Wteq_amt_pct_med_flag,Prec_wytd_amt,Prec_wytd_avg,Prec_wytd_pctavg,Prec_wytd_pct_avg_flag,
8,NaN,NaN,NaN,NaN,KOOTENAI RIVER IN MONTANA,NaN,NaN,Basin Index (%),NaN,NaN,91.0,NaN,NaN,NaN,100.0,NaN,
26,NaN,NaN,NaN,NaN,FLATHEAD RIVER BASIN,NaN,NaN,Basin Index (%),NaN,NaN,99.0,NaN,NaN,NaN,106.0,NaN,
42,NaN,NaN,NaN,NaN,UPPER CLARK FORK RIVER BASIN,NaN,NaN,Basin Index (%),NaN,NaN,104.0,NaN,NaN,NaN,101.0,NaN,
51,NaN,NaN,NaN,NaN,BITTERROOT,NaN,NaN,Basin Index (%),NaN,NaN,103.0,NaN,NaN,NaN,110.0,NaN,
60,NaN,NaN,NaN,NaN,LOWER CLARK FORK RIVER BASIN,NaN,NaN,Basin Index (%),NaN,NaN,93.0,NaN,NaN,NaN,95.0,NaN,
72,NaN,NaN,NaN,NaN,IDAHO PANHANDLE REGION,NaN,NaN,Basin Index (%),NaN,NaN,91.0,NaN,NaN,NaN,90.0,NaN,
77,NaN,NaN,NaN,NaN,COLUMBIA ABOVE METHOW,NaN,NaN,Basin Index (%),NaN,NaN,127.0,NaN,NaN,NaN,104.0,NaN,
86,NaN,NaN,NaN,NaN,"CHELAN, ENTIAT, WENATCHEE",NaN,NaN,Basin Index (%),NaN,NaN,104.0,NaN,NaN,NaN,102.0,NaN,
95,NaN,NaN,NaN,NaN,"YAKIMA, AHTANUM",NaN,NaN,Basin Index (%),NaN,NaN,105.0,NaN,NaN,NaN,101.0,NaN,
111,NaN,NaN,NaN,NaN,SNAKE ABOVE PALISADES,NaN,NaN,Basin Index (%),NaN,NaN,92.0,NaN,NaN,NaN,84.0,NaN,
127,NaN,NaN,NaN,NaN,"HENRYS FORK, TETON, WILLOW, BLACKFOOT, PORTNEUF",NaN,NaN,Basin Index (%),NaN,NaN,86.0,NaN,NaN,NaN,79.0,NaN,
138,NaN,NaN,NaN,NaN,BIG AND LITTLE WOOD BASINS,NaN,NaN,Basin Index (%),NaN,NaN,85.0,NaN,NaN,NaN,73.0,NaN,
145,NaN,NaN,NaN,NaN,BIG AND LITTLE LOST BASINS,NaN,NaN,Basin Index (%),NaN,NaN,81.0,NaN,NaN,NaN,69.0,NaN,
154,NaN,NaN,NaN,NaN,"RAFT, GOOSE, SALMON FALLS, BRUNEAU",NaN,NaN,Basin Index (%),NaN,NaN,69.0,NaN,NaN,NaN,69.0,NaN,
173,NaN,NaN,NaN,NaN,"WEISER, PAYETTE, BOISE",NaN,NaN,Basin Index (%),NaN,NaN,92.0,NaN,NaN,NaN,82.0,NaN,
184,NaN,NaN,NaN,NaN,OWYHEE MALHEUR,NaN,NaN,Basin Index (%),NaN,NaN,66.0,NaN,NaN,NaN,65.0,NaN,
196,NaN,NaN,NaN,NaN,"GRAND RONDE, POWDER, BURNT, IMNAHA",NaN,NaN,Basin Index (%),NaN,NaN,89.0,NaN,NaN,NaN,84.0,NaN,
231,NaN,NaN,NaN,NaN,CLEARWATER AND SALMON,NaN,NaN,Basin Index (%),NaN,NaN,94.0,NaN,NaN,NaN,88.0,NaN,
237,NaN,NaN,NaN,NaN,"UMATILLA, WALLA WALLA, WILLOW",NaN,NaN,Basin Index (%),NaN,NaN,90.0,NaN,NaN,NaN,92.0,NaN,
251,NaN,NaN,NaN,NaN,"DESCHUTES, CROOKED, JOHN DAY",NaN,NaN,Basin Index (%),NaN,NaN,87.0,NaN,NaN,NaN,82.0,NaN,
258,NaN,NaN,NaN,NaN,"LOWER COLUMBIA, HOOD RIVER",NaN,NaN,Basin Index (%),NaN,NaN,65.0,NaN,NaN,NaN,98.0,NaN,
280,NaN,NaN,NaN,NaN,WILLAMETTE,NaN,NaN,Basin Index (%),NaN,NaN,73.0,NaN,NaN,NaN,91.0,NaN,
291,NaN,NaN,NaN,NaN,"LEWIS, COWLITZ",NaN,NaN,Basin Index (%),NaN,NaN,100.0,NaN,NaN,NaN,100.0,NaN,
302,NaN,NaN,NaN,NaN,"WHITE, GREEN, CEDAR, SKYKOMISH, SNOQUALMI, BAK...",NaN,NaN,Basin Index (%),NaN,NaN,96.0,NaN,NaN,NaN,108.0,NaN,NaN

In [11]:
df.shape

(303, 17)