In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.arima.model import ARIMA
from sklearn.model_selection import GridSearchCV

In [2]:
# Code written by Joseph Nelson.

def interpret_dftest(dftest):
    dfoutput = pd.Series(dftest[0:2], index=['Test Statistic','p-value'])
    return dfoutput

In [3]:
df3 = pd.read_csv('data/sams_clean_data.csv')
df3.set_index('yyyymmdd', inplace = True)

In [4]:
df3.head()

,lat,long,station_id,acton_id,station_name,elevation,wteq_amt,wteq_med,wteq_amt_pct_med,prec_wytd_amt,...,"LOWER COLUMBIA, HOOD RIVER",OWYHEE MALHEUR,"RAFT, GOOSE, SALMON FALLS, BRUNEAU",SNAKE ABOVE PALISADES,"UMATILLA, WALLA WALLA, WILLOW",UPPER CLARK FORK RIVER BASIN,"WEISER, PAYETTE, BOISE","WHITE, GREEN, CEDAR, SKYKOMISH, SNOQUALMI, BAKER, SKAGIT",WILLAMETTE,"YAKIMA, AHTANUM"
yyyymmdd,,,,,,,,,,,,,,,,,,,,,
2011-02-10,48.566667,-115.450000,311,15A08S,Banfield Mountain,5600,12.1,12.2,99.0,17.5,...,0,0,0,0,0,0,0,0,0,0
2011-02-10,48.300000,-116.066667,323,16A08S,Bear Mountain,5400,37.4,38.6,97.0,54.2,...,0,0,0,0,0,0,0,0,0,0
2011-02-10,48.983333,-115.816667,918,15A05S,Garver Creek,4250,7.7,6.9,112.0,12.2,...,0,0,0,0,0,0,0,0,0,0
2011-02-10,48.916667,-114.766667,500,14A11S,Grave Creek,4300,13.1,11.4,115.0,18.6,...,0,0,0,0,0,0,0,0,0,0
2011-02-10,48.300000,-114.833333,510,14A14S,Hand Creek,5035,9.6,7.8,123.0,14.7,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df2 = pd.read_csv('basin_2000_2010.csv')
df2.set_index('yyyymmdd', inplace = True)

In [6]:
df2.head()

,lat,long,station_id,acton_id,station_name,elevation,wteq_amt,wteq_med,wteq_amt_pct_med,prec_wytd_amt,...,"LOWER COLUMBIA, HOOD RIVER",OWYHEE MALHEUR,"RAFT, GOOSE, SALMON FALLS, BRUNEAU",SNAKE ABOVE PALISADES,"UMATILLA, WALLA WALLA, WILLOW",UPPER CLARK FORK RIVER BASIN,"WEISER, PAYETTE, BOISE","WHITE, GREEN, CEDAR, SKYKOMISH, SNOQUALMI, BAKER, SKAGIT",WILLAMETTE,"YAKIMA, AHTANUM"
yyyymmdd,,,,,,,,,,,,,,,,,,,,,
2009-02-10,48.566667,-115.450000,311,15A08S,Banfield Mountain,5600,11.4,12.2,93.0,13.6,...,0,0,0,0,0,0,0,0,0,0
2009-02-10,48.300000,-116.066667,323,16A08S,Bear Mountain,5400,27.6,38.6,72.0,34.5,...,0,0,0,0,0,0,0,0,0,0
2009-02-10,48.983333,-115.816667,918,15A05S,Garver Creek,4250,6.3,6.9,91.0,9.6,...,0,0,0,0,0,0,0,0,0,0
2009-02-10,48.916667,-114.766667,500,14A11S,Grave Creek,4300,9.3,11.4,82.0,18.8,...,0,0,0,0,0,0,0,0,0,0
2009-02-10,48.300000,-114.833333,510,14A14S,Hand Creek,5035,10.7,7.8,137.0,13.6,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df1 = pd.read_csv('90s-data.csv')
df1.set_index('YYYYMMDD', inplace = True)

In [9]:
df1.head()

,lat,long,basin_name,station_id,acton_id,station_name,elevation,wteq_amt,wteq_med,wteq_amt_pct_med,prec_wytd_amt,prec_wytd_avg,prec_wytd_pctavg
YYYYMMDD,,,,,,,,,,,,,
1990-02-10,48.566667,-115.450000,KOOTENAI RIVER IN MONTANA,311,15A08S,Banfield Mountain,5600,17.2,12.2,141.0,23.8,17.8,134.0
1990-02-10,45.000000,-117.166667,"GRAND RONDE, POWDER, BURNT, IMNAHA",736,17D08S,Schneider Meadows,5400,21.6,22.0,98.0,21.3,26.7,80.0
1990-02-10,45.083333,-117.550000,"GRAND RONDE, POWDER, BURNT, IMNAHA",812,17D07S,Taylor Green,5740,9.8,15.2,64.0,15.0,19.2,78.0
1990-02-10,45.066667,-118.150000,"GRAND RONDE, POWDER, BURNT, IMNAHA",873,18D21S,Wolf Creek,5630,8.4,12.6,67.0,10.2,14.5,70.0
1990-02-10,44.300000,-115.233333,CLEARWATER AND SALMON,312,15E11S,Banner Summit,7040,15.1,16.8,90.0,18.4,21.0,88.0

In [19]:
pd.concat([df1.drop(columns = 'basin_name'), pd.get_dummies(df1['basin_name'])], axis = 1)

,lat,long,station_id,acton_id,station_name,elevation,wteq_amt,wteq_med,wteq_amt_pct_med,prec_wytd_amt,...,"LOWER COLUMBIA, HOOD RIVER",OWYHEE MALHEUR,"RAFT, GOOSE, SALMON FALLS, BRUNEAU",SNAKE ABOVE PALISADES,"UMATILLA, WALLA WALLA, WILLOW",UPPER CLARK FORK RIVER BASIN,"WEISER, PAYETTE, BOISE","WHITE, GREEN, CEDAR, SKYKOMISH, SNOQUALMI, BAKER, SKAGIT",WILLAMETTE,"YAKIMA, AHTANUM"
YYYYMMDD,,,,,,,,,,,,,,,,,,,,,
1990-02-10,48.566667,-115.450000,311,15A08S,Banfield Mountain,5600,17.2,12.2,141.0,23.8,...,0,0,0,0,0,0,0,0,0,0
1990-02-10,45.000000,-117.166667,736,17D08S,Schneider Meadows,5400,21.6,22.0,98.0,21.3,...,0,0,0,0,0,0,0,0,0,0
1990-02-10,45.083333,-117.550000,812,17D07S,Taylor Green,5740,9.8,15.2,64.0,15.0,...,0,0,0,0,0,0,0,0,0,0
1990-02-10,45.066667,-118.150000,873,18D21S,Wolf Creek,5630,8.4,12.6,67.0,10.2,...,0,0,0,0,0,0,0,0,0,0
1990-02-10,44.300000,-115.233333,312,15E11S,Banner Summit,7040,15.1,16.8,90.0,18.4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999-02-10,43.133333,-110.200000,460,10F17S,East Rim Divide,7930,11.0,7.0,157.0,11.3,...,0,0,0,1,0,0,0,0,0,0
1999-02-10,42.650000,-110.816667,419,10G25S,Cottonwood Creek,7670,17.5,13.8,127.0,20.4,...,0,0,0,1,0,0,0,0,0,0
1999-02-10,42.966667,-110.616667,353,10G02S,Blind Bull Sum,8650,22.5,15.1,149.0,18.1,...,0,0,0,1,0,0,0,0,0,0
1999-02-10,44.216667,-110.666667,577,10E09S,Lewis Lake Divide,7850,29.1,21.8,133.0,29.4,...,0,0,0,1,0,0,0,0,0,0
1999-02-10,48.533333,-120.983333,817,20A07S,Thunder Basin,4320,34.5,23.9,144.0,54.5,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
#full_df = pd.concat([df1, df2, df3], axis)