### Columbia River Basin Data from 2000-2010

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
# Create output folder
try:
    os.mkdir('./output')
except:
    pass

# Checks for files in data folder
files = os.listdir('./data')
output = os.listdir('./output')


# Strips header from NRCS data, outputs the new CSVs into the output folder
for file_name in files:
    with open('data/' + str(file_name), 'r') as file_in:
        data = file_in.read().splitlines(True)
    with open('output/' + str(file_name), 'w') as file_out:
        file_out.writelines(data[77:])

In [3]:
df_list = []
for i in os.listdir('./output'):
    path = os.path.join("./output", i)
    temp = pd.read_csv(path, index_col=None, header=0) 
    df_list.append(temp)

In [4]:
df = pd.concat(df_list, axis=0, ignore_index=True)

In [5]:
df.isnull().sum()

Lat                        264
Long                       264
YYYYMMDD                   264
Basin_name                 264
Station_id                   0
Acton_id                   264
Station_name               264
Elevation                    0
Wteq_amt                   264
Wteq_med                   264
Wteq_amt_pct_med           165
Wteq_amt_pct_med_flag     3168
Prec_wytd_amt              264
Prec_wytd_avg              264
Prec_wytd_pctavg            55
Prec_wytd_pct_avg_flag    3278
                          3080
dtype: int64

In [6]:
df = df[df['YYYYMMDD'].notnull()]

In [7]:
df.isnull().sum()

Lat                          0
Long                         0
YYYYMMDD                     0
Basin_name                   0
Station_id                   0
Acton_id                     0
Station_name                 0
Elevation                    0
Wteq_amt                     0
Wteq_med                     0
Wteq_amt_pct_med           165
Wteq_amt_pct_med_flag     2904
Prec_wytd_amt                0
Prec_wytd_avg                0
Prec_wytd_pctavg            55
Prec_wytd_pct_avg_flag    3014
                          3069
dtype: int64

In [8]:
df['YYYYMMDD'].map(lambda x: int(x))

0       20090210
1       20090210
2       20090210
3       20090210
4       20090210
          ...
3327    20100210
3328    20100210
3329    20100210
3330    20100210
3331    20100210
Name: YYYYMMDD, Length: 3069, dtype: int64

In [9]:
df['Wteq_amt'].value_counts()

-999.0    47
 0.0      42
 11.6     31
 9.3      30
 8.5      30
          ..
 61.5      1
 28.3      1
 40.3      1
 33.6      1
 45.2      1
Name: Wteq_amt, Length: 442, dtype: int64

In [35]:
df=pd.read_csv('./basin_2000_2010.csv')

In [36]:
df['YYYYMMDD'] = pd.to_datetime(df['YYYYMMDD'], format='%Y%m%d')

In [51]:
df = df.drop(['Wteq_amt_pct_med_flag', 'Prec_wytd_pct_avg_flag', ' '], axis=1)

In [60]:
df = df.replace(-998.0, np.nan)

In [62]:
df = df.replace(-999.0, np.nan)

In [68]:
df[df['Wteq_amt'].isnull()].groupby('Station_id').mean()

,Lat,Long,Elevation,Wteq_amt,Wteq_med,Wteq_amt_pct_med,Prec_wytd_amt,Prec_wytd_avg,Prec_wytd_pctavg
Station_id,,,,,,,,,
549,41.516667,-116.016667,8424,NaN,NaN,NaN,16.781818,17.3,97.0
1068,47.166667,-121.416667,4640,NaN,NaN,NaN,NaN,NaN,NaN
1084,45.250000,-123.283333,420,NaN,NaN,NaN,NaN,NaN,NaN
1144,47.983333,-114.350000,5650,NaN,NaN,NaN,NaN,NaN,NaN
1165,48.200000,-114.516667,4820,NaN,NaN,NaN,22.200000,NaN,NaN

In [71]:
df = df.dropna(thresh=12)

In [83]:
df.isnull().sum()

Lat                   0
Long                  0
YYYYMMDD              0
Basin_name            0
Station_id            0
Acton_id              0
Station_name          0
Elevation             0
Wteq_amt              0
Wteq_med             88
Wteq_amt_pct_med    110
Prec_wytd_amt         0
Prec_wytd_avg        11
Prec_wytd_pctavg     11
dtype: int64

In [84]:
df.to_csv('./basin_2000_2010.csv', index=False)

In [55]:
df = pd.read_csv('./basin_2000_2010.csv')

In [69]:
#list of all my features with nulls after dropping those two flag columns and changing all the codes to nulls as well
features_to_fill = ['Wteq_amt', 'Wteq_med', 'Wteq_amt_pct_med', 'Prec_wytd_avg', 'Prec_wytd_pctavg']
#groups by year, and then fills the nulls with the year's median value
def null_filler(feature):
    return df.groupby(by = df['YYYYMMDD'])[feature].transform(lambda x: x.fillna(x.median()))

In [70]:
#fills the nulls of every feature in my above list
for feature in features_to_fill:
    df[feature] = null_filler(feature)

In [71]:
df.isnull().sum()

Lat                 0
Long                0
YYYYMMDD            0
Basin_name          0
Station_id          0
Acton_id            0
Station_name        0
Elevation           0
Wteq_amt            0
Wteq_med            0
Wteq_amt_pct_med    0
Prec_wytd_amt       0
Prec_wytd_avg       0
Prec_wytd_pctavg    0
dtype: int64

In [73]:
df.columns = df.columns.str.lower()

In [75]:
df.to_csv('./basin_2000_2010.csv', index=False)